#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mainLayout{
  display: flex;
}

@media (max-width: 576px) {
  .mainLayout{
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .mainLayout{
    flex-direction: row;
  }
}
