:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-image: linear-gradient(
  45deg,
  hsl(240deg 46% 57%) 0%,
  hsl(241deg 37% 51%) 11%,
  hsl(241deg 36% 45%) 22%,
  hsl(242deg 37% 39%) 33%,
  hsl(243deg 38% 34%) 44%,
  hsl(243deg 39% 28%) 56%,
  hsl(244deg 40% 23%) 67%,
  hsl(245deg 42% 18%) 78%,
  hsl(246deg 46% 13%) 89%,
  hsl(260deg 79% 7%) 100%
);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}



